@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
​ * {
  font-family: "Josefin Sans", sans-serif;
}
​ .content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
​ .button1 {
  background-color: #dbdbdb;
  padding: 15px;
  border: 2px solid rgb(140, 140, 140);
}
​ .button2 {
  background-color: #dbdbdb;
  padding: 15px;
  border: 0px;
  border: 2px solid rgb(140, 140, 140);
  transition-duration: 0.5s;
}
​ .button2:hover {
  background-color: #0f7f17;
  color: white;
  border: 2px solid rgb(44, 44, 44);
}
​ ​ .button3 {
  background-color: #dbdbdb;
  padding: 15px;
  border: 0px;
  border: 2px solid rgb(140, 140, 140);
  box-shadow: 2px 2px grey;
}
​ .button3:hover {
  background-color: #0f7f17;
  color: white;
  border: 2px solid rgb(44, 44, 44);
  cursor: pointer;
  transition-duration: 0.5s;
}
​ .button3:active {
  box-shadow: 2px 1px grey;
  transform: translateY(2px);
}
​ .button4 {
  background-color: rgb(255, 0, 0);
  padding: 15px;
  border: 0px;
  border: 2px solid rgb(0, 0, 0);
  opacity: 0.5;
  cursor: not-allowed;
}
