body {
  color: rgb(224, 34, 4);
}

.desktop,
.mobile {
  display: none;
}

@media (orientation: portrait) {
  .title {
    color: rgba(255, 255, 0, 0.713);
    background-color: black;
    text-align: center;
    padding: 5%;
  }
  .mobile {
    display: inline-block;
  }
}

@media (orientation: landscape) {
  .subtitle {
    color: rgba(0, 128, 0, 0.603);
    background-color: rgba(255, 166, 0, 0.724);
    text-align: center;
    padding: 5%;
  }

  .desktop {
    display: inline-block;
  }
}
